/* li{
    display:flex;
    align-items:center;
    padding:0 1em 0 1em;
} */

/* svg{
    color:rgb(13,110,253);
} */
.main{
    border-right:1px solid rgba(198,198,198,0.4);
    min-height:100vh;
    
    display:flex;
    flex-direction:column;
    /* width:14.5%; */
    /* flex:1.5; */
    flex:1;
}
.top{
    /* border-bottom:1px solid rgb(13,110,253); */
    /* padding:1.3rem; */
    color: rgb(13,110,253);
    display:flex;
    justify-content:center;
}
.toptxt{
    font-weight: 900;
    font-size:28px;
}

.bottom{
    display:flex;
    justify-content:space-evenly;
   
}
.c1, .c2{
    /* border: 2px solid rgb(13,110,253); */
   box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    height:2em;
    width:2em;
    margin-top:2em;
}
.c1{
    border:0.5px solid rgba(148,148,148,0.6);
}
.c2{
    background-color:black;
}

li{
    
    display:flex;
    align-items:center;
    padding:4px;
    font-weight:300;
    font-size:20px;
    pointer:cursor;
    
}
li:hover{
    background-color:rgba(195,200,204,0.5);
    cursor:pointer;
}

.icon1{
    color:rgba(148,148,148,0.6);
}
